<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 300px;
            }
            li {
                clear: both;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
            #lists-wrapper, #todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
            .list-completed {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: green;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <div id="lists-wrapper">
            <h3>TODO LISTS</h3>
            <form id="list-form">
                <input type="text" id="listName" name="name" />
                <input type="submit" value="create" />
            </form>
            <div id="list-error" class="hidden">An error occurred!</div>
            <ul id="lists">
                {% for list in lists %}
                <li>
                    <a href="/lists/{{ list.id }}">{{ list.name }}</a>
                    <button class="list-delete-button" type="button" data-id="{{ list.id }}">&cross;</button>
                    <button class="list-completed" data-id="{{ list.id }}" type="button">&#10004;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="todos-wrapper">
            <h3>TODO ITEMS</h3>
            <h4 id="active-list" data-id="{{ active_list.id }}">{{ active_list.name }}</h4>
            <form id="todo-form">
                <input type="text" id="description" name="description" />
                <input type="submit" value="create" />
            </form>
            <div id="todo-error" class="hidden">An error occurred!</div>
            <ul id="todos">
                {% for todo in todos %}
                <li>
                    <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
                    {{ todo.description }}
                    <button class="todo-delete-button" type="button" data-id="{{ todo.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul> 
        </div>
        <script>
            const listDeleteButtons = document.querySelectorAll('.list-delete-button');
            for (let i = 0; i < listDeleteButtons.length; i++) {
                const listDeleteButton = listDeleteButtons[i];
                listDeleteButton.onclick = function(e) {
                    const listId = e.target.dataset.id;
                    fetch('/lists/' + listId, {
                        method: 'DELETE'
                    })
                    .then(function() {
                        location.reload();
                        console.log('Deleted List with ID: ' + listId);
                    })
                    .catch(function() {
                        document.getElementById('list-error').className = '';
                    })
                }
            }
            
            const listCompleteButtons = document.querySelectorAll('.list-completed');
            for (let i = 0; i < listCompleteButtons.length; i++) {
                const listCompleteButton = listCompleteButtons[i];
                listCompleteButton.onclick = function(e) {
                    const listId = e.target.dataset.id;
                    fetch('/lists/' + listId + '/set-completed', {
                        method: 'POST',
                        body: '',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        location.reload();
                    })
                    .catch(function() {
                        document.getElementById('list-error').className = '';
                    })
                }
            }

            const todoDeleteButtons = document.querySelectorAll('.todo-delete-button');
            for (let i = 0; i < todoDeleteButtons.length; i++) {
                const deleteButton = todoDeleteButtons[i];
                deleteButton.onclick = function(e) {
                    const todoId = e.target.dataset.id;
                    fetch('/todos/' + todoId, {
                        method: 'DELETE',
                    })
                    .then(function() {
                        location.reload();
                        console.log('Deleted Todo with ID: ' + todoId);
                    })
                    .catch(function() {
                        document.getElementById('todo-error').className = '';
                    })
                }
            }
            
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function(e) {
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset.id;
                    fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .catch(function() {
                        document.getElementById('todo-error').className = '';
                    })
                }
            }
            document.getElementById('todo-form').onsubmit = function(e) {
                e.preventDefault();
                fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': document.getElementById('description').value,
                        'list_id': document.getElementById('active-list').attributes['data-id'].value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonResponse) {
                    console.log(jsonResponse);
                    todoId = jsonResponse['id'];
                    todoDescription = jsonResponse['description'];
                    const liItem = document.createElement('li');
                    liItem.innerHTML = "<input class=\"check-completed\" data-id=\""+todoId+"\" type=\"checkbox\" />"+todoDescription+"<button class=\"delete-button\" type=\"button\" data-id=\""+todoId+"\">&cross;</button>";
                    document.getElementById('todos').appendChild(liItem);
                })
                .then(function() {
                    location.reload();
                })
                .catch(function() {
                    document.getElementById('todo-error').className = '';
                })
            }

            document.getElementById('list-form').onsubmit = function(e) {
                e.preventDefault();
                fetch('/lists/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.getElementById('listName').value,
                        'list_id': document.getElementById('active-list').attributes['data-id'].value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonResponse) {
                    console.log(jsonResponse);
                    listId = jsonResponse['id'];
                    listName = jsonResponse['name'];
                    const liItem = document.createElement('li');
                    liItem.innerHTML = "<a href=\"/lists/"+listId+"\">"+listName+"</a>";
                    document.getElementById('lists').appendChild(liItem);
                })
                .then(function() {
                    location.reload();
                })
                .catch(function() {
                    document.getElementById('list-error').className = '';
                })
            }
        </script>
    </body>
</html>